@model AppointmentsIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> 
                Vet Appointments <i class="fa-solid fa-calendar-check"></i>
                @if(User.IsInRole("Vet")){
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" 
                        asp-controller="Appointment" asp-action="WaitingAppointments">
                         Waiting
                    </a></li>
                  </ul>
                </div>
                }
            </h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Appointment" asp-action="Create" class="btn btn-primary"> 
                Make an appointment
             </a>
            
            @if (User.IsInRole("Vet"))
            {
                <h3>
                    <a asp-controller="Appointment" asp-action="Profit" class = "text-success">
                    Profit: @(Model.AllAppointments.Where(x => x.FinalPrice > 0).Sum(b => b.FinalPrice))$
                    </a>
                </h3>
            }

        </div>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Time</th>
      <th scope="col">Description</th>
      <th scope="col">Details</th>
      <th scope="col">Status</th>
            @if (User.IsInRole("Vet"))
            {
                <th scope="col">Expected Price</th>
                <th scope="col">Final Price</th>
                <th scope="col">Change status</th>
            }
    </tr>
  </thead>
@foreach(var appointment in Model.AllAppointments)
    {
        <tbody>
        @if (appointment.status.Equals(Status.Waiting))
        {
            <tr style="background-color:#fff457">
              <th scope="row"></th>
              <td>@appointment.Time</td>
              <td>@appointment.Description</td>
              <td><a asp-controller="Appointment" asp-action="Details" asp-route-id="@appointment.Id">
                  <i class="bi bi-three-dots"></i>
              </a></td>
              <td>@appointment.status</td>
              @if (User.IsInRole("Vet"))
            {
              <td>@(appointment.ExpectedPrice)$</td>
              <td></td>
              <td><a asp-controller="Appointment" asp-action="Status" asp-route-id="@appointment.Id" class="btn btn-light mx-2">
                        Change status
              </a></td>
            }
            </tr>
      
        } else if(appointment.status.Equals(Status.Confirmed)) 
        {
            <tr style="background-color:lightgreen">
              <th scope="row"></th>
              <td>@appointment.Time</td>
              <td>@appointment.Description</td>
              <td><a asp-controller="Appointment" asp-action="Details" asp-route-id="@appointment.Id">
                  <i class="bi bi-three-dots"></i>
              </a></td>
              <td>@appointment.status</td>
              @if (User.IsInRole("Vet"))
                {
                  <td>@(appointment.ExpectedPrice)$</td>
                  <td></td>
                  <td>
                      <a asp-controller="Appointment" asp-action="Status" asp-route-id="@appointment.Id" class="btn btn-light mx-2">
                            Change status
                      </a>
                  </td>
                }
            </tr>
            } else if(appointment.status.Equals(Status.Rejected))
            {
            <tr style="background-color:lightcoral">
              <th scope="row"></th>
              <td>@appointment.Time</td>
              <td>@appointment.Description</td>
              <td><a asp-controller="Appointment" asp-action="Details" asp-route-id="@appointment.Id">
                  <i class="bi bi-three-dots"></i>
              </a></td> 
              <td>@appointment.status</td>
                  @if (User.IsInRole("Vet"))
                    {
                      <td>@(appointment.ExpectedPrice)$</td>
                      <td></td>
                      <td><a asp-controller="Appointment" asp-action="Status" asp-route-id="@appointment.Id" class="btn btn-light mx-2">
                                Change status
                      </a></td>
                    }
            </tr>
            } else
            {
            <tr>
              <th scope="row"></th>
              <td>@appointment.Time</td>
              <td>@appointment.Description</td>
             <td><a asp-controller="Appointment" asp-action="Details" asp-route-id="@appointment.Id">
                  <i class="bi bi-three-dots"></i>
              </a></td>
              <td>@appointment.status</td>
              @if (User.IsInRole("Vet"))
                {
                  <td>@(appointment.ExpectedPrice)$</td>
                  <td>@(appointment.FinalPrice)$</td>
                  <td><a asp-controller="Appointment" asp-action="Status" asp-route-id="@appointment.Id" class="btn btn-light mx-2">
                                Add price
                  </a></td>
                }
            </tr>
            }
        </tbody>
 }
 </table>

