@model PetIndexViewModel
@{
    ViewData["Title"] = "Available";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> 
                Available pets 
                <i class="fa-solid fa-paw"></i>
                <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" 
                        asp-controller="Pet" asp-action="Index">All pets</a></li>
                    <li><a class="dropdown-item" 
                        asp-controller="Pet" asp-action="Unavailable">Unavailable pets</a></li>
                  </ul>
                </div>
            </h2>
        </div>

        @if(User.IsInRole("Admin"))
        {
        <div class="col-6 text-end">
            <a asp-controller="Pet" asp-action="Create" class="btn btn-primary"> 
                <i class="fa-solid fa-heart-circle-plus"></i>
                Add new pet
             </a>
        </div>
        }

    </div>

    <div class="row pt-4">
       <div class="col-6">
           <h3 class="text text-success">Number of available pets: 
               @Model.AllPets.Where(x => x.IsSold != true).Count()
           </h3>
       </div>

        <form asp-action="Available" method="get" class="col-6 text-end">
              <div class="form-actions no-color">
                   <p>
                        <input id="search" placeholder="Pet name, breed or type..." type="text" name="search" value="@ViewData["CurrentFilter"]" />
                        <button type="submit" class="btn btn-primary">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <a asp-action="Available" class="btn btn-outline-success">Available pets</a>
                   </p>
              </div>
        </form>
    </div>

</div>

    <div class="row text-center">
        @foreach (var pet in Model.AllPets)
        {
        @if (!pet.IsSold.Equals(true))
        {
            <div class="card col-4 pt-2 mb-1" id="cardradius"> @*my-1 mx-1 me-1 ms-1*@
                <a asp-controller="Pet" asp-action="Details" asp-route-id="@pet.Id">
                    <img id="imglist" class="card-img-top" height="100%" width="100" style="min-height:350px" src="@FileLocation.RetriveFileFromFolder@pet.Image" asp-append-version="true" alt="Card image cap" />  
                </a>
                <div class="card-body">
                    <a asp-controller="Pet" asp-action="Details" asp-route-id="@pet.Id">
                        <h5 class="card-title">@pet.Name</h5>
                    </a>

                    <h6 class="text text-success">
                        <i class="fa-solid fa-check"></i>
                        @(pet.IsSold ? "Sold":"Available")</h6>

                </div>
            </div>
            }
        }
    </div>

