@model PetBreedIndexViewModel
@{
    ViewData["Title"] = "Index";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> 
                List of pet breeds <i class="fa-solid fa-otter"></i>
            </h2>
        </div>
        @if (User.IsInRole("Admin"))
        {
            <div class="col-6 text-end">
                <a asp-controller="PetBreed" asp-action="Create" class="btn btn-primary"> 
                    <i class="bi bi-plus-circle"></i>
                    Add new pet breed
                </a>
            </div>
        }
    </div>
</div>

<div class="row text-center">
@foreach(var breed in Model.AllBreedsOfPets)
{            
    <div class="card col-3 pb-2 pt-2" id="cardradius">
        <a asp-controller="PetBreed" asp-action="Details" asp-route-id="@breed.Id">
            <img id="imglist" class="card-img-top" height="100%" width="100" style="min-height:280px" src="@FileLocation.RetriveFileFromFolder@breed.Image" asp-append-version="true" alt="Card image cap" />  
        </a>
            <div class="card-body">
                <a asp-controller="PetBreed" asp-action="Details" asp-route-id="@breed.Id">
                <h5 class="card-title">@breed.Name</h5>
                </a>
               @* <p class="card-text">@breed.Description</p>
               
                <div class="w-75 btn-group" role="group">
                        <a asp-controller="PetBreed" asp-action="Edit" asp-route-id="@breed.Id"
                        class="btn btn-primary mx-2">
                        <i class="bi bi-pen"></i>
                        Edit</a>
                         <a asp-controller="PetBreed" asp-action="Delete" asp-route-id="@breed.Id" class="btn btn-danger"> 
                        <i class="bi bi-trash3"></i>
                        Delete</a>         
                 </div>*@
            </div>
    </div>
 }
 </div>