@model UserIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary"> 
                <i class="bi bi-people"></i> 
                List of users
            </h2>
        </div>
        <div class="col-6 text-end">
            <a id="register" asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary"> 
                <i class="bi bi-person-plus"></i>
                Add new user
             </a>
        </div>
    </div>
</div>

<form asp-action="User" method="get">
      <div class="form-actions no-color">
           <p>
                Find by name: <input type="text" name="search" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-action="User" class="btn btn-outline-primary">Full List</a>
           </p>
      </div>
</form>

<table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"><i class="bi bi-person-square"></i></th>
      <th scope="col">Username</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
@foreach(var user in Model.AllUsers)
{            
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>@user.UserName</td>
      <td>@user.Email</td>
      <td>@user.PhoneNumber</td>
      <td>
          <a asp-controller="User" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary"> 
                        <i class="bi bi-person-check"></i>
                        Edit
                    </a>
          <a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger"> 
                        <i class="bi bi-person-dash"></i>
                        Delete
                    </a>
      </td>
    </tr>
  </tbody>
 }
 </table>